.rightside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-width: 270px;
  max-width: 600px;
  padding: 0.5rem;
  border-radius: 10px;
  color: white;
  margin-bottom: 1rem;
}