.swap {
  position: absolute;
  bottom: 80px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  color: beige;
  cursor: pointer;
  backdrop-filter: blur(10px);
}