.wrapper {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.carousel {
  position: relative;
  width: 100%;
  margin: 0 auto;
  //border: 1px solid blue; // Uncomment for debugging

  :global {          // must use global so that it applies to the slick class
    .slick-prev,
    .slick-next {
      z-index: 2;
      font-size: x-large;
      font-weight: bolder;
    }

    .slick-prev {
      left: -5px;
      //top: 110px;
      //color: green;
    }

    .slick-next {
      right: -5px;
      //top: 110px;
      //color: green;
    }

    .slick-dots {
      bottom: 0px;
    }
  }
}

.slide {
  justify-content: center;
  width: 100%;
  padding: 0.5rem 1rem 1rem 1rem;
  //border: 1px solid red; // Uncomment for debugging
}

.tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 6px;
  padding: 0.3rem 0rem;
  &:hover {
    background: rgba(155, 155, 155, 0.3);
    transform: scale(1.1);
  }
  //border: 1px solid cyan; // Uncomment for debugging

  .icon {
    font-size: 2rem;
    color: white;
    //border: 1px solid white;

    img {
      width: 2rem;
      height: 2rem;
      object-fit: contain;
      display: block;
    }
  }

  .label {
    color: white;
    font-size: larger;
    //border: 1px solid white;
  }
}