.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 88% ;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  //border: 1px solid orange; // Uncomment for debugging

  .block {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 0.5rem;
    color: white;
    //border: 1px solid red;

    .left {
      align-self: start;
      //border: 1px solid green;
    }

    .right {
      align-self: end;
      //border: 1px solid green;
    }

    .text {
      line-height: 1.8rem;
      text-align: center;
      //border: 1px solid blue;

      p:first-child {
        font-size: x-large;
        font-weight: bold;
        margin: 0;
      }

      p:last-child {
        font-size: larger;
        margin: 0.5rem 0 0 0;
      }
    }
  }
}