@import './styles/variables';

.container {
  height: 100vh; // Use full viewport height for desktop screens
  width: 100vw;
  overflow: hidden; // Prevent horizontal scrolling
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url('./assets/bg.jpg') center center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;

  &.landscape {
    height: auto; // Allow content to determine height in landscape mode
    overflow: auto; // Enable scrolling for landscape mode on mobile
  }
}

.panels {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  flex: 1; // Ensure panels take up available vertical space
  overflow: hidden;

  @media (max-width: 768px) {
    flex-direction: row;
    width: 100%;
  }
}

.panel {
  flex: 0 0 50%; // Each panel takes 50% of the width on larger screens
  max-width: 500px;
  min-width: 300px;
  text-align: center;
  justify-content: center;

  @media (max-width: 768px) {
    flex: 0 0 100%; // Full width on mobile
    width: 100%;
  }
}

.hidden {
  display: none;
}

.footer {
  width: 100%;
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  padding: 0.75rem;
  font-size: 0.8rem;
  color: $secondary-color;
  position: absolute;
  bottom: 0;
  left: 0;
}